.custom-li li {
    margin: 10px auto !important;
    padding: 10px 15px !important;
    max-width: 1300px !important;
    border: 1px solid #ccc !important;
    border-radius: 8px !important;
    font-family: "Courier New", monospace !important;
}